# Package and package dependencies
-e .
coverage>=7.6.2,<7.7

# TestApp dependencies
django>=4.2,<5.2
djangorestframework>=3.15.0,<3.16

# Linters and formatters
pre-commit>=4.0.1,<4.1

# Development dependencies
setuptools>=75.1.0,<76.0
twine>=5.1.1,<5.2
wheel>=0.44.0,<0.45
